

body
{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root, .container
{
    height: 100%;
}

.map
{
    height: 90%;
}

.my-map
{
    height: 70%;
    width: 30%;
}

.label
{
    font-size: small;
}