

body
{
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#root, .container
{
    height: 100%;
}

.map
{
    height: 80%;
}

.row
{
    height: 100%;
}

.my-map
{
    height: 80%;
    width: 100%;
}

.label
{
    font-size: small;
}